<div class="card">
  <h3 class="card-header">Edit Job</h3>
  <form class="card-body edit-job-form">
    <label for="job-title" class="form-label">Title</label>
    <input
      name="job-title"
      type="text"
      value="{{job.title}}"
      class="form-input"
    />
    <label class="form-label" for="content">Description</label>
    <input
      name="description"
      type="text"
      value="{{job.content}}"
      class="form-input"
    />
    <button type="submit" class="btn">Update Job</button>
    <button type="button" class="delete-job-btn btn">Delete Job</button>
  </form>
</div>

<script src="/js/edit-job.js"></script>
<script src="/js/delete-job.js"></script>