<div class="card">
  <h3 class="card-header">Add New Job</h3>
  <form class="card-body new-job-form" id="new-job-form">
    <label for="job-title" class="job-label">Title</label>
    <input type="text" id="job-title" name="job-title" class="form-input" />

    <label class="form-label" for="description">Describe job here!</label>
    <input id="description" name="description" class="form-input" />

    <button type="submit" class="btn">Add</button>
  </form>
</div>

<script src="/js/add-job.js"></script>